<body>
<mat-progress-spinner mode="indeterminate" *ngIf='loading'></mat-progress-spinner>
<section *ngIf='!loading'>
  <h1>{{'summary.title' | translate}}</h1>
  <app-information-area [headerText]='"Legg merke til"' [mainText]='"Vi har hentet inn informasjon om ditt finansierinsbevis og gjeldende kjøpskontrakt. Du må bekrefte at denne informasjonen stemmer før du kan gå videre til neste steg."'></app-information-area>
  <div>
    <h2>{{'summary.pre-approval-data.title' | translate}}</h2>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.pre-approval-data.applicant' | translate }}</div>
      <div style="width: 60%">{{case.customer.customerFirstName + " " + case.customer.customerLastName}}</div>
    </div>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.pre-approval-data.marital-status' | translate }}</div>
      <div style="width: 60%">Ugift</div>
    </div>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">Maksimal kjøpesum</div>
      <div style="width: 60%">{{case.purchaseAmount| mask:"separator.0"}} kr</div>
    </div>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.pre-approval-data.income' | translate}}</div>
      <div style="width: 60%">{{case.income| mask:"separator.0"}} kr</div>
    </div>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.pre-approval-data.equity' | translate}}</div>
      <div style="width: 60%">{{case.equity! | mask:"separator.0"}} kr</div>
    </div>
    <div style="display: flex; width: 100%; align-content: space-between; height: 1.5rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.pre-approval-data.debt' | translate}}</div>
      <div style="width: 60%">{{case.debt| mask:"separator.0"}} kr</div>
    </div>
  </div>
  <div>
    <h2>{{'summary.contract-data.title' | translate}}</h2>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.contract-data.address' | translate}}</div>
      <div style="width: 60%">{{collateral.realEstate.address + ", " + collateral.realEstate.postalCode}}</div>
    </div>
    <div style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.contract-data.purchaseValue' | translate}}</div>
      <div style="width: 60%">{{collateral.purchaseAmount | mask:"separator.0"}} kr</div>
    </div>
    <div *ngIf="collateral.realEstate.type === 'Borettslag'" style="display: flex; border-bottom: 2px solid rgba(54,54,54,0.45); width: 100%; align-content: space-between; height: 1.5rem; margin-bottom: 1rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.contract-data.sharedDebt' | translate}}</div>
      <div style="width: 60%">{{collateral.realEstate.sharedDebt! | mask:"separator.0"}} kr</div>
    </div>
    <div style="display: flex; width: 100%; align-content: space-between; height: 1.5rem">
      <div style="width: 40%; margin-left: 0.5rem">{{ 'summary.contract-data.broker' | translate}}</div>
      <div style="width: 60%">{{broker.name}}</div>
    </div>
  </div>
  <div>
    <div style="border: 1px solid #808080; border-radius: 0.3rem; height: 2.5rem; width: 370px; margin-top: 2rem;">
      <mat-checkbox style="width: 100%; height: 100%; margin-top: 0.5rem; margin-left: 0.5rem" [formControl]="requiredConfirmController">Jeg bekrefter at informasjonen over stemmer</mat-checkbox>
      <mat-error *ngIf="!requiredConfirmController.value === true && isClicked">
        * Informasjonen må bekreftes for å gå videre
      </mat-error>
    </div>
  </div>
  <section>
    <div class='navigation-button-container'>
        <button mat-stroked-button color='primary' (click)='previous()'>Forrige</button>
        <button mat-stroked-button color='warn' (click)='cancel()'>Avbryt</button>
      <button mat-raised-button color="primary" (click)="next()">Fortsett</button>
    </div>
  </section>
</section>

</body>
