<body class="loanPage">
  <mat-progress-spinner mode="indeterminate" *ngIf='loading'></mat-progress-spinner>
  <section *ngIf='!loading'>
    <div class="headerContainer">
      <h1>Lån</h1>
    </div>
    <div class="contentDivider">
      <div class="leftContainer">
        <div style='margin-bottom: 2rem' class='sliderContainer'>
          <h2>Lånedetaljer</h2>
          <p>Vi kan tilby deg følgende lån til <strong>{{collateral.address + ", " + collateral.postalCode}}</strong>. For å dekke kjøp av boligen med omkostninger trenger dere totalt <b>
            {{ maxValue | mask: 'separator.0'}} kr</b>.</p>
          <div style='display: flex; flex-direction: column; width: 50%'>
            <label class='selectorLabel'>Lånebeløp</label>
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]='value' [mask]='"separator"' (ngModelChange)='inputValueChanged($event)' [maxLength]="9">
            </mat-form-field>
          </div>
          <mat-slider [max]='maxValue' [min]='minValue' [step]='sliderStep' [(ngModel)]="value" (input)='sliderValueChanged($event)'></mat-slider>
        </div>
        <div style='margin-bottom: 2rem' class='sliderContainer'>
          <div style='width: 100%; background-color: #F3F5F6; display: flex; align-content: center; height: 4rem'>
            <div style='display: flex; align-content: center; margin-top: 0.6rem;'>
              <p [innerHTML]='"loan-page.used-equity" | translate: {
            equityUsed: equityToUse | mask: "separator.0"
          }'></p>
              <p> </p>
            </div>
          </div>
        </div>
        <div style='margin-bottom: 2rem' class='sliderContainer'>
          <div style='display: flex; flex-direction: column; width: 50%;'>
            <label class='selectorLabel'>Nedbetalingstid i år</label>
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]='loanDuration' [maxLength]="2" (ngModelChange)='inputDurationChanged($event)'>
            </mat-form-field>
          </div>
          <mat-slider [max]='30' [min]='1' [step]='1' [(ngModel)]="loanDuration" (input)='sliderDurationChanged($event)'></mat-slider>
        </div>
        <div style='display: flex; flex-direction: column; width: 50%;'>
          <form [formGroup]='form' id='form' (ngSubmit)="next()">
            <div class='inputContainer'>
              <label class='selectorLabel'>Konto for utbetaling</label>
              <mat-form-field appearance="fill">
                <mat-select [formControl]="accountPaymentController" required placeholder='Kontonummer'>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let account of accountNumbers" [value]="account">
                    {{account}}
                  </mat-option>
                </mat-select>
                <mat-error class='error' *ngIf="dateSelectController.hasError('required')">Velg et kontonummer</mat-error>
              </mat-form-field>
            </div>
            <div class='inputContainer'>
              <label class='selectorLabel'>Konto for nedbetaling</label>
              <mat-form-field appearance="fill">
                <mat-select [formControl]="accountRepaymentController" required placeholder='Kontonummer'>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let account of accountNumbers" [value]="account">
                    {{account}}
                  </mat-option>
                </mat-select>
                <mat-error class='error' *ngIf="dateSelectController.hasError('required')">Velg et kontonummer</mat-error>
              </mat-form-field>
            </div>
            <div class='inputContainer'>
              <label class='selectorLabel'>Forfallsdato(dag i måneden)</label>
              <mat-form-field appearance="fill">
                <mat-select [formControl]="dateSelectController" required placeholder='Dato'>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let day of daysOfMonth" [value]="day">
                    {{day}}
                  </mat-option>
                </mat-select>
                <mat-error class='error' *ngIf="dateSelectController.hasError('required')">Velg en dato</mat-error>
              </mat-form-field>
            </div>
          </form>
        </div>
      </div>
      <div class="rightContainer">
        <div style='margin-top: 2rem;'>
          <div style='width: 100%; background-color: #E3FFDE; display: flex; align-content: center; height: 4rem'>
            <div>
              <img src='./assets/images/leaf2.png' alt='' style='margin: 1rem 1rem 0.7rem 0.7rem; width: 2.5rem; height: 2.5rem'>
            </div>
            <div style='display: flex; align-content: center; margin-top: 0.6rem;'>
              <p>Du kvalifiserer for grønt boliglån for unge</p>
            </div>
          </div>
        </div>
        <div style='margin-top: 2rem;'>
          <div class='outer-container'>
              <div class='text-container'>
                <div class='text-splitter-header'>
                  <p>Å betale hver måned:</p>
                </div>
                <div class='text-splitter'>
                  <div style='flex-basis: 70%; font-weight: bold'>Engangsomkostninger</div>
                  <div>2000 kr</div>
                </div>
                <div class='text-splitter'>
                  <div style='flex-basis: 70%; font-weight: bold'>Månedlig gebyr</div>
                  <div>50 kr</div>
                </div>
                <div class='text-splitter'>
                  <div style='flex-basis: 70%; font-weight: bold'>Nominell rente</div>
                  <div>{{nominalInterestRate}}%</div>
                </div>
                <div class='text-splitter'>
                  <div style='flex-basis: 70%; font-weight: bold'>Estimert effektiv rente</div>
                  <div>{{effectiveInterestRate}}%</div>
                </div>
                <div class='text-splitter'>
                  <p [innerHTML]="'loan-page.price-example.result' | translate : {
                value: value | mask: 'separator.0',
                loanDuration: loanDuration,
                cost: (monthlyLoanPayment * 12 * loanDuration) | mask: 'separator.0'
              }">
                </div>
              </div>
            </div>
          </div>

        <h2 style="margin-bottom: 0.5rem">Boligen</h2>
        <div style='margin-bottom: 1rem'>
          <div class='outer-container'>
            <div class='text-container'>
              <div class='text-splitter-header'>
                <p>Boligens totalpris:</p>
              </div>
              <div class='text-splitter'>
                <div style='flex-basis: 70%; font-weight: bold'>Kjøpesum</div>
                <div>2 000 000 kr</div>
              </div>
              <div class='text-splitter'>
                <div style='flex-basis: 70%; font-weight: bold'>Omkostninger ved kjøp</div>
                <div>50 kr</div>
              </div>
              <div class='text-splitter'>
                <div style='flex-basis: 70%; font-weight: bold'>Dokumentavgift</div>
                <div>300 000 kr</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <section class='navigation-button-container'>
      <button mat-stroked-button color='primary' (click)='previous()'>Forrige</button>
      <button mat-stroked-button color='warn' (click)='cancel()'>Avbryt</button>
      <button mat-raised-button color="primary" form='form' type='submit'>Send søknad</button>
    </section>
  </section>
</body>
