@import "../../../../../assets/styling/variables.scss";

body {
  display: flex;
  justify-content: center;
}
section {
  width: 60%;
}

@media (max-width: 1000px) {
  section {
    width: 100%;
  }
}

::ng-deep .mat-select-disabled .mat-select-value{
  color: black !important;
}

::ng-deep .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after, .mat-input-element:disabled {
  color: black !important;

}


  .selectorLabel {
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.expandable-container {
  margin-top: 2rem;
}

.mat-expansion-panel{
  background-color: #F3F5F6 !important;
}

mat-expansion-panel-header {
  display: flex;
  background-color: white !important;

}
img {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.selectorLabel {
  font-weight: bold;
}

form {
  margin-top: 1rem;
}

.formFieldContainerWide {
  width: 60%;
}

.formFieldContainer {
  width: 30%;
}

::ng-deep .mat-form-field-flex {
  background-color: white !important;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px 5px 5px 0;
}

.navigation-button-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button{
  margin-right: 0.5rem;
}

mat-form-field {
  width: 100%;
}
