<body id="collateralPage">
<mat-progress-spinner mode="indeterminate" *ngIf='loading'></mat-progress-spinner>
<section *ngIf='!loading'>
  <div>
    <h1>{{'collateral-page.title' | translate}}</h1>
    <app-information-area [headerText]='"collateral-page.sub-title"' [mainText]='"collateral-page.information-content"'></app-information-area>
  </div>
  <div class='expandable-container'>
    <mat-accordion>
      <mat-expansion-panel [expanded]="panelOpenState" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header collapsedHeight="5rem" expandedHeight="5rem">
          <mat-panel-title>
            <img [src]="'assets/images/house.svg'" alt=''/>
            <div *ngIf='collateral'>
              <strong><p>
                {{'collateral-page.expansion-panel.title' | translate}}
              </p></strong>
              <p>{{collateral.realEstate.address}}<br>{{collateral.realEstate.postalCode}}, {{postName.result}} </p>
            </div><div *ngIf='!collateral'>
            <strong><p>
              {{'collateral-page.expansion-panel.error-title' | translate}}
            </p></strong>
          </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <div class="expandableContainer">
            <div class="innerContainer">
              <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.housing-type-title' | translate}}:</strong></div>
              <div class="rightSplit">{{collateral ? this.collateral.realEstate.type : ""}}</div>
            </div>
            <div *ngIf='selectedType === "HOUSING-CO-OPERATIVE"'>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.housing-co-operative.choose-co-operative' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.cooperativeName : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.housing-co-operative.unit-number' | translate}}</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.unitNumber : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.purchase-amount-title' | translate}}</strong></div>
                <div class="rightSplit">{{collateral ? (collateral.purchaseAmount | mask:'separator.0') + " kr" : ""}}</div>
              </div>
              <div class="innerContainerBottom">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.housing-co-operative.shared-debt-title' | translate}}</strong></div>
                <div class="rightSplit">{{collateral ? (collateral.realEstate.sharedDebt! | mask:"separator.0") + " kr" : ""}}</div>
              </div>
            </div>
            <div *ngIf='selectedType === "CONDOMINIUM"'>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.address-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.address! : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.postal-code-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.postalCode! : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.cadastral-number-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.cadastralNumber! : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.title-number-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.titleNumber! : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.section-number-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.sectionNumber! : ""}}</div>
              </div>
              <div class="innerContainer">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.condominium.lease-number-title' | translate}}:</strong></div>
                <div class="rightSplit">{{collateral ? collateral.realEstate.leaseNumber! : ""}}</div>
              </div>
              <div class="innerContainerBottom">
                <div class="leftSplit"><strong>{{'collateral-page.expansion-panel.content.purchase-amount-title' | translate}}</strong></div>
                <div class="rightSplit">{{collateral ? (collateral.purchaseAmount | mask:"separator.0")+ " kr" : ""}}</div>
              </div>
          </div>
        </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div>
    <div class='inputContainerDown'>
      <form [formGroup]='form' id='form' (ngSubmit)="next()">
      <label class='selectorLabel'>Velg forsikringsselskap</label>
      <mat-form-field appearance="fill">
        <mat-select [formControl]="requiredInsuranceSelect" required placeholder='Forsikringsselskap'>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let insurance of insuranceCompanies" [value]="insurance">
            {{insurance.name}}
          </mat-option>
        </mat-select>
        <mat-error class='error' *ngIf="requiredInsuranceSelect.hasError('required')">Velg en forsikring</mat-error>
      </mat-form-field>
      </form>
    </div>
  </div>
  <section class='navigation-button-container'>
    <button mat-stroked-button color='primary' (click)='previous()'>Forrige</button>
    <button mat-stroked-button color='warn' (click)='cancel()'>Avbryt</button>
    <button mat-raised-button color="primary" form='form' type='submit'>Neste</button>
  </section>
</section>
</body>
