body {
  display: flex;
  justify-content: center;
}

section {
  width: 60%;
}

@media (max-width: 1000px) {
  section {
    width: 100%;
  }
}

.expandable-container {
  margin-top: 1rem;
}

.mat-expansion-panel{
  background-color: #F3F5F6 !important;
}

mat-expansion-panel-header {
  display: flex;
  background-color: white !important;

}

.navigation-button-container{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

button{
  margin-right: 0.5rem;
}
