<body>
  <mat-progress-spinner mode="indeterminate" *ngIf='loading'></mat-progress-spinner>
  <section *ngIf='!loading'>
    <div>
      <h1>{{'broker-page.title' | translate}}</h1>
      <app-information-area [headerText]='"broker-page.information-title"' [mainText]='"broker-page.information-content"'></app-information-area>
    </div>
    <section style='width: 100%'>
      <form [formGroup]='form'>
        <p class='selectorLabel'>{{'broker-page.expansion-panel.title' | translate}}</p>
        <mat-form-field appearance="fill">
          <mat-label>{{'broker-page.expansion-panel.label' | translate}}</mat-label>
          <mat-select [formControl]="brokerControl">
            <mat-option>{{'broker-page.expansion-panel.placeholder' | translate}}</mat-option>
            <mat-option *ngFor='let broker of brokers' [value]='broker'>{{broker.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="brokerControl.invalid">{{'broker-page.expansion-panel.error' | translate}}</mat-error>
        </mat-form-field>
      </form>
    </section>
    <section class='navigation-button-container'>
      <button mat-stroked-button color='warn' type=''>{{'broker-page.abort-btn' | translate}}</button>
      <button mat-raised-button class="nextBtn" color="primary" type='submit' (click)='next()'>{{'broker-page.next-btn' | translate}}</button>
    </section>
  </section>
</body>


