@import "../../../../assets/styling/variables.scss";

body {
  display: flex;
  justify-content: center;
}
section {
  width: 60%;
}

@media (max-width: 1000px) {
  section {
    width: 100%;
  }
}

.selectorLabel {
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

button{
  margin-right: 0.5rem;
}

mat-form-field {
  width: 100%;
}

