<body>
  <mat-progress-spinner mode="indeterminate" *ngIf='loading'></mat-progress-spinner>
  <section *ngIf='!loading'>
    <div>
      <h1>Boligen vi har kjøpt</h1>
      <h3>Hent kjøpskontrakt fra megler</h3>
      <p>Vi kan hente kjøpskontrakten automatisk fra noen av landets meglere!<br> Finnes ikke megler i listen under må informasjon om den nye boligen din registreres manuelt.</p>
    </div>
    <div>
      <form [formGroup]='form'>
        <p style='font-weight: bold' class='selectorLabel'>Megler</p>
        <mat-form-field appearance="fill">
          <mat-label>Velg megler</mat-label>
          <mat-select [formControl]="brokerControl">
            <mat-option>-- Ingen --</mat-option>
            <mat-option *ngFor='let broker of brokers' [value]='broker'>{{broker}}</mat-option>
          </mat-select>
          <mat-error *ngIf="brokerControl.hasError('required')">*Velg megler</mat-error>
        </mat-form-field>
      </form>
    </div>
    <div class='navigation-button-container'>
      <button mat-stroked-button color='warn' type=''>Avbryt</button>
      <button mat-raised-button color="primary" type='submit' (click)='next()'>Neste</button>
    </div>
  </section>
</body>


